// General styles
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

h2, h3, h4 {
    text-transform: uppercase;
}