$bg-image: url("/dist/img/shutterstock_151938761.jpg");
$bg-image-2: url("/dist/img/SLP_6767-copy-960x560.jpg");
$bg-image-3: url("/dist/img/gym.jpg");
$bg-image-4: url("/dist/img/new_members/new-members.jpg");
$bg-image-5: url("/dist/img/new_members/contact-us.jpg");
$main-color: #222;
$side-color: red;
$light-color: #fff;
$dark-color: #111;